@import "../../../styles/variables.scss";

.about {
  & > .styled-header {
    @media (max-width: 640px) {
      font-size: 3.5em;
    }
  }
  & > .container {
    & > .row {
      @media (max-width: 768px) {
        flex-direction: column;
      }

      & > .col:nth-of-type(1) {
        & > #panorama {
          border-radius: $border-radius-2;
        }
      }

      & > .col:nth-of-type(2) {
        & > h3 {
          font-size: 3.5rem;
        }

        & > a {
          color: $main-color;
          text-decoration: none;

          &:hover {
            text-decoration: underline !important;
          }
        }

        & > .container {
          & > .row {
            @media (max-width: 576px) {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
