/* Color pallete */
$light-color: #d9d3d2;
$white-color: #ffffff;
$dark-color: #121b1e;
$primary-color: #173f39;
$secondary-color: #4f8c3b;
$tertiary-color: #91a548;

$accent-1: #12a033;
$accent-2: #e6f497;
$accent-3: #b4aea0;

$success-color: #0bba00;
$warning-color: #fec800;
$danger-color: #fb004e;

$main-color: #000;
$emphasis-color: #e3e566;
$border-radius-1: 100px;
$border-radius-2: 20px;
