@import "../../styles/variables.scss";

/* ============== Header Section ============== */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  & > .navbar {
    padding: 1.5rem 10rem;

    @media (max-width: 700px) {
      padding: 1.5rem 2rem;
    }

    & > .container-fluid {
      .navbar-collapse {
        flex-grow: 0;

        @media (max-width: 700px) {
          padding: 1.5rem 0;

          & > .navbar-nav {
            flex-direction: column;
            gap: 1rem;
            align-items: center;
          }
        }
      }
    }

    & > .container-fluid {
      & > .collapse:nth-of-type(2) {
        @media (max-width: 1062px) {
          padding: 0.5em 0;
        }
        & > .navbar-nav {
          @media (max-width: 1062px) {
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
          }
          & > li {
            & > .dropdown-center {
              & > .dropdown-toggle {
                &::after {
                  content: "";
                  display: none;
                }

                & > .notification {
                  position: absolute;
                  top: -5px;
                  right: 5px;
                }
              }

              & > .dropdown-menu {
                width: 350px;
                left: -310px;
              }
            }
          }
        }
      }
    }
  }
}
