@import "../../../styles/variables.scss";

.menu {
    & > .container {
        border: 3px solid $main-color;
        border-radius: $border-radius-2;
        & > .container {
            & > .row:nth-of-type(1) {
                & > .col {
                    & > .btn {
                        border: none;

                        &:hover {
                            & > span {
                                color: $main-color !important;
                            }
                        }
                    }

                    & > .btn.active {
                        border-bottom: 1px solid $main-color;
                        border-radius: 0px;

                        & > span {
                            color: $main-color !important;
                        }
                    }
                }
            }

            & > .container-fluid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 3rem;
                row-gap: 1rem;
                width: 100%;

                & > *:only-child {
                    grid-column: 1 / -1;
                }

                & > .box {
                    border: 2px solid $main-color;
                    border-radius: $border-radius-2;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        border: 2px dashed $main-color;
                        box-shadow: 7px 8px 19px -4px rgba(194, 194, 194, 1);

                        & > .content {
                            & > .img-container {
                                transform: scale(1.1);
                            }
                        }
                    }

                    & > .content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        & > .img-container {
                            margin-left: -3rem;
                            width: 80px;
                            transition: all 0.3s ease-in-out;

                            & > img {
                                display: block;
                                width: 100%;
                                border: 1px solid $main-color;
                                border-radius: 10px;
                            }
                        }

                        & > p {
                            margin-bottom: 0;
                        }

                        & > i {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    & > .modal {
        & > .modal-dialog {
            max-width: 700px;
            & > .modal-content {
                & > .modal-body {
                    & > .px-4 {
                        & > .image-container {
                            display: grid;
                            place-content: center;
                            & > img {
                                width: 200px;
                                border-radius: 50%;
                            }
                        }

                        & > .product-details {
                            & > .d-flex:nth-of-type(4) {
                                & > .mb-0 {
                                    width: 300px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
